.developer .pic {
	background-image: url('../imgs/magnets.jpg');
	background-size: 384px 408px;
}

.verlok {
	.pic {
		background-position: -100px -218px;
	}
}

.ketchup {
	.pic {
		background-position: -100px -111px;
	}
}

.allino {
	.pic {
		background-position: -4px -220px;
	}
}

.guk {
	.pic {
		background-position: -3px -108px;
	}
}

.marc {
	.pic {
		background-position: -192px -112px;
	}
}

.david {
	.pic {
		background-position: 0 -3px;
	}
}

.gazzi {
	.pic {
		background-position: -288px 0;
	}
}

.steno {
	.pic {
		background-position: -100px -320px;
	}
}

.lucas {
	.pic {
		background-position: -196px -320px;
	}
}

.anto {
	.pic {
		background-position: -292px -216px;
	}
}

.white {
	.pic {
		background-position: -196px 0;
	}
}

.fabio {
	.pic {
		background-position: -292px -320px;
	}
}

.portal {
	.pic {
		background-position: -4px -320px;
	}
}

.arca {
	.pic {
		background-position: -96px 0;
	}
}

.bruno {
	.pic {
		background-position: -288px -112px;
	}
}

.mauro {
	.pic {
		background-position: -195px -216px;
	}
}